// colors - dark mode default
$appBg: hsl(222, 40%, 13%);
$githubDark: hsl(224, 40%, 20%);
$searchGlass: hsl(214, 66%, 35%);
$searchBg: hsl(211, 100%, 49%);
$offWhite: hsl(226, 17%, 57%);
$atSpan: hsl(215, 66%, 51%);
$notAvailable: hsl(218, 11%, 60%);

// Light mode scheme
$lightAppBg: hsl(222, 100%, 98%);
$githubLight: hsl(0, 0%, 100%);

// hover
$btnHover: #185494;
$handleHover: #6da9ff;